Repository airscripts/blog: changes, and which CircleCI parameters are due for each by the changed paths.
All: build, tests

refactor(content): switch date back to july
  content/english/posts/open-source/building-anally-fast-stuff.md
  content/italian/posts/open-source/building-anally-fast-stuff.md
Due: build

chore: update README.md
  README.md
Due: none

refactor!: remove italian language
  config.toml
  content/italian/about.md
  content/italian/archives.md
  content/italian/offline.md
  content/italian/posts/molivair/welcome-molivair.md
  content/italian/posts/open-source/awesome-steam-deck.md
  content/italian/posts/open-source/building-anally-fast-stuff.md
  content/italian/search.md
  i18n/it.yaml
Due: build

chore: update CHANGELOG.md for 1.11.0
  CHANGELOG.md
  data/info.toml
  static/sw.js
Due: build

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: remove typo on share support sections
  content/english/posts/molivair/welcome-molivair.md
  content/english/posts/open-source/awesome-steam-deck.md
  content/english/posts/open-source/building-anally-fast-stuff.md
Due: build

refactor: change awesome steam deck cover image
  content/english/posts/open-source/awesome-steam-deck.md
  static/images/logo-steam-deck.jpeg
  static/images/logo-steam-deck.png
Due: build

chore: update various files copywriting and links
  .github/FUNDING.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE_MIT
  README.md
  README_DOCKER_HUB.md
Due: none

chore: update readme
  README.md
Due: none

[ImgBot] Optimize images
  static/images/cover-analscript.png
  static/images/logo-steam-deck.png
  static/maskable-android-chrome-192x192.png
  static/maskable-android-chrome-512x512.png
Due: build

refactor: change logo
  layouts/partials/extend_head.html
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon-114x114.png
  static/apple-touch-icon-120x120.png
  static/apple-touch-icon-144x144.png
  static/apple-touch-icon-152x152.png
  static/apple-touch-icon-180x180.png
  static/apple-touch-icon-57x57.png
  static/apple-touch-icon-60x60.png
  static/apple-touch-icon-72x72.png
  static/apple-touch-icon-76x76.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/logo-256x256.png
  static/logo-512x512.png
  static/logo-open-graph.png
  static/logo.svg
  static/maskable-android-chrome-192x192.png
  static/maskable-android-chrome-512x512.png
  static/mstile-144x144.png
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/mstile-70x70.png
  static/safari-pinned-tab.svg
Due: build

refactor: change code of conduct email
  CODE_OF_CONDUCT.md
Due: none

[ImgBot] Optimize images
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon-114x114.png
  static/apple-touch-icon-120x120.png
  static/apple-touch-icon-144x144.png
  static/apple-touch-icon-152x152.png
  static/apple-touch-icon-180x180.png
  static/apple-touch-icon-72x72.png
  static/apple-touch-icon.png
  static/logo-256x256.png
  static/logo-512x512.png
  static/logo-open-graph.png
  static/logo.svg
  static/maskable-android-chrome-192x192.png
  static/maskable-android-chrome-512x512.png
  static/mstile-144x144.png
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/safari-pinned-tab.svg
  static/search.svg
Due: build

chore: remove obsolete version attribute from compose
  docker-compose.yml
Due: none

feat: add new post
  content/english/posts/green-bytes/less-feetpics-less-footprint.md
  static/images/less-feetpics-less-footprint.png
Due: build

refactor: small changes to categories and stuff
  content/english/posts/foss/awesome-steam-deck.md
  content/english/posts/foss/building-anally-fast-stuff.md
  content/english/posts/green-bytes/less-feetpics-less-footprint.md
  content/english/posts/molivair/welcome-molivair.md
Due: build

feat: add new blog post
  content/english/posts/life/if-gael-had-turned-back.md
  static/images/gael.png
Due: build

fix: remove custom build necessity from netlify cli
  netlify.toml
Due: none

refactor: update about section
  content/english/about.md
Due: build

refactor: small improvements to old posts
  content/english/posts/foss/awesome-steam-deck.md
  content/english/posts/foss/building-anally-fast-stuff.md
  content/english/posts/green-bytes/less-feetpics-less-footprint.md
  content/english/posts/molivair/welcome-molivair.md
Due: build

deps: bump general dependencies of the project
  .docker/dockerfiles/blog.Dockerfile
  .docker/dockerfiles/ci.Dockerfile
  .docker/dockerfiles/devcontainer.Dockerfile
  .docker/dockerfiles/tests.Dockerfile
  Makefile
  config.toml
Due: none

refactor: migrate config from toml to yaml
  config.toml
  config.yaml
Due: none

deps: bump dockerfile images version
  .docker/dockerfiles/blog.Dockerfile
  .docker/dockerfiles/ci.Dockerfile
  .docker/dockerfiles/tests.Dockerfile
Due: none

refactor: move content and update layouts
  content/about.md
  content/archives.md
  content/offline.md
  content/posts/foss/awesome-steam-deck.md
  content/posts/foss/building-anally-fast-stuff.md
  content/posts/green-bytes/less-feetpics-less-footprint.md
  content/posts/life/if-gael-had-turned-back.md
  content/posts/molivair/welcome-molivair.md
  content/search.md
  layouts/partials/footer.html
  layouts/partials/header.html
Due: build

deps: update base image for ci
  .circleci/workflows.yml
Due: none

deps: massive dependencies update
  .circleci/workflows.yml
  .docker/dockerfiles/blog.Dockerfile
  .docker/dockerfiles/ci.Dockerfile
  .docker/dockerfiles/devcontainer.Dockerfile
  .docker/dockerfiles/tests.Dockerfile
  Makefile
  config.toml
  config.yaml
  content/about.md
  content/archives.md
  content/offline.md
  content/posts/foss/awesome-steam-deck.md
  content/posts/foss/building-anally-fast-stuff.md
  content/posts/green-bytes/less-feetpics-less-footprint.md
  content/posts/life/if-gael-had-turned-back.md
  content/posts/molivair/welcome-molivair.md
  content/search.md
  layouts/partials/footer.html
  layouts/partials/header.html
Due: build

deps: bump devcontainer base image version
  .devcontainer/devcontainer.json
Due: none

build: migrate from netlify to vercel
  .circleci/workflows.yml
  Makefile
  netlify.toml
  scripts/ci/deploy.sh
  scripts/ci/verify.sh
  scripts/install/netlify-cli.sh
  scripts/install/vercel-cli.sh
  tests/install.bats
  tests/mocks.sh
  vercel.json
Due: tests

fix: add correct vercel package
  scripts/install/vercel-cli.sh
Due: none

fix: add missing args in make command
  Makefile
  Triggerfile
Due: none

feat: add vercel links to headers
  vercel.json
Due: none

refactor: update logo and about contents
  config.yaml
  content/about.md
  layouts/partials/extend_head.html
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon-114x114.png
  static/apple-touch-icon-120x120.png
  static/apple-touch-icon-144x144.png
  static/apple-touch-icon-152x152.png
  static/apple-touch-icon-180x180.png
  static/apple-touch-icon-57x57.png
  static/apple-touch-icon-60x60.png
  static/apple-touch-icon-72x72.png
  static/apple-touch-icon-76x76.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon-96x96.png
  static/favicon.ico
  static/favicon.svg
  static/logo-256x256.png
  static/logo-512x512.png
  static/logo-open-graph.png
  static/logo.png
  static/logo.svg
  static/manifest.json
  static/maskable-android-chrome-192x192.png
  static/maskable-android-chrome-512x512.png
  static/mstile-144x144.png
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/mstile-70x70.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
  static/sw.js
  static/web-app-manifest-192x192.png
  static/web-app-manifest-512x512.png
Due: build

[ImgBot] Optimize images
  static/apple-touch-icon.png
  static/favicon-96x96.png
  static/favicon.svg
  static/images/gael.png
  static/images/less-feetpics-less-footprint.png
  static/logo-open-graph.png
  static/logo.png
  static/web-app-manifest-192x192.png
  static/web-app-manifest-512x512.png
Due: build

style: add inverted logo
  assets/css/extended/main.css
Due: none

feat: add new blog post
  content/posts/foss/awesome-steam-deck.md
  content/posts/foss/building-anally-fast-stuff.md
  content/posts/green-bytes/less-feetpics-less-footprint.md
  content/posts/life/if-gael-had-turned-back.md
  content/posts/life/why-i-grew-my-hair-after-10-years.md
  content/posts/molivair/welcome-molivair.md
  static/images/grew-hair-after-10-years.png
Due: build

Path conditions:
  build: (((((((any of: data/.*) or (any of: i18n/.*)) or (any of: static/.*)) or (any of: content/.*)) or (any of: layouts/.*)) or (any of: resources/.*)) or (any of: archetypes/.*)) or (any of: config.toml/.*)
  tests: any of: tests/.*
