Repository airscripts/blog: changes, and which CircleCI parameters are due for each by the changed paths.
All: build, tests

tests: add gpp, devcontainer cli and python3 install tests
  tests/install.bats
  tests/mocks.sh
Due: tests

chore: add multilingual README support
  README.it-IT.md
  README.md
Due: none

chore: add spacing in README file
  README.md
Due: none

chore: update LICENSE_MIT copyright year
  LICENSE_MIT
Due: none

chore: fix wrong number on numbered list in README file
  README.md
Due: none

chore: update repo links in docker hub README file
  README.docker-hub.md
Due: none

chore: update repo links inside README file
  README.md
Due: none

chore: update title in italian README file
  README.it-IT.md
Due: none

chore: update title in README file
  README.md
Due: none

release: bump to version 1.10.0
  CHANGELOG.md
  data/info.toml
  static/sw.js
Due: build

chore: add README.it-IT file
  README.it-IT.md
Due: none

chore: update working in italian README file
  README.it-IT.md
Due: none

fix(content): correct typo in archives page
  content/english/archives.md
Due: build

chore: update repo links in italian README file
  README.it-IT.md
Due: none

refactor(scripts): rename devcontainer cli install script
  scripts/install/devcontainer-cli.sh
Due: none

fix(content): change wrong link to github repo in about page
  content/english/about.md
  content/italian/about.md
Due: build

chore: update repo link in SECURITY file
  SECURITY.md
Due: none

refactor(scripts): change base directory from blog.airscript.it to blog in safeness script
  scripts/devcontainer/safeness.sh
Due: none

refactor: rename gpp and devcontainer cli make rules
  .docker/dockerfiles/devcontainer.Dockerfile
  Makefile
Due: none

fix: update github links inside config.toml file
  config.toml
Due: none

chore: rename README_DOCKER_HUB file to README.docker-hub
  README.docker-hub.md
Due: none

chore: update repo links in CHANGELOG file
  CHANGELOG.md
Due: none

chore: update README.md file
  README.md
Due: none

chore: update README.it-IT.md file
  README.it-IT.md
Due: none

chore: update FUNDING.yml file
  .github/FUNDING.yml
Due: none

feat: add new domains in netlify's csp
  netlify.toml
Due: none

chore: update README.md
  README.md
Due: none

feat(content): add awesome steam deck post
  content/english/posts/molivair/welcome-molivair.md
  content/english/posts/open-source/awesome-steam-deck.md
  content/italian/posts/molivair/welcome-molivair.md
  content/italian/posts/open-source/awesome-steam-deck.md
  static/images/logo-steam-deck.jpeg
Due: build

chore: update README.docker-hub.md
  README.docker-hub.md
Due: none

refactor: small changes over copywriting
  config.toml
  content/english/about.md
  content/english/posts/molivair/welcome-molivair.md
  content/italian/about.md
  content/italian/posts/molivair/welcome-molivair.md
Due: build

feat(content): add analscript related first post
  content/english/about.md
  content/english/archives.md
  content/english/posts/molivair/welcome-molivair.md
  content/english/posts/open-source/awesome-steam-deck.md
  content/english/posts/open-source/building-anally-fast-stuff.md
  content/english/search.md
  content/italian/about.md
  content/italian/archives.md
  content/italian/posts/molivair/welcome-molivair.md
  content/italian/posts/open-source/awesome-steam-deck.md
  content/italian/posts/open-source/building-anally-fast-stuff.md
  content/italian/search.md
  static/images/cover-analscript.png
Due: build

refactor(content): add named links over all the posts
  content/english/about.md
  content/english/posts/molivair/welcome-molivair.md
  content/english/posts/open-source/awesome-steam-deck.md
  content/english/posts/open-source/building-anally-fast-stuff.md
  content/english/posts/polyglot/.gitkeep
  content/italian/about.md
  content/italian/posts/molivair/welcome-molivair.md
  content/italian/posts/open-source/awesome-steam-deck.md
  content/italian/posts/polyglot/.gitkeep
Due: build

chore: update READMEs
  README.it-IT.md
  README.md
  README_DOCKER_HUB.md
Due: none

chore; update README.md
  README.md
Due: none

refactor(content): change casing in welcome-molivair.md
  content/italian/posts/molivair/welcome-molivair.md
Due: build

refactor(content): change post dates for scheduling
  content/english/posts/open-source/building-anally-fast-stuff.md
  content/italian/posts/open-source/building-anally-fast-stuff.md
Due: build

Path conditions:
  build: (((((((any of: data/.*) or (any of: i18n/.*)) or (any of: static/.*)) or (any of: content/.*)) or (any of: layouts/.*)) or (any of: resources/.*)) or (any of: archetypes/.*)) or (any of: config.toml/.*)
  tests: any of: tests/.*
